#
# Misc.
#

.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
robots.txt
Desktop.ini
UmbracoTraceLog.txt
*.orig
.sass-cache/
packages/

#
# Other Version Control Directories
#

.svn
.hg
.hgignore


#
# Visual Studio
#

[Dd]ebug/
[Bb]uild/
[Rr]elease/
[Oo]bj/
[Bb]in/

*.config
*.aps
*.bak
*.build.csdef
*.cache
*.ilk
*.lib
*.log
*.meta
*.ncb
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.[Pp]ublish.xml
*_i.c
*_p.c

.builds

#
# Umbraco
#
Umbraco.Site/App_Data/Logs/UmbracoTraceLog.txt
Umbraco.Site/App_Data/Logs/*
Umbraco.Site/App_Data/TEMP/
Umbraco.Site/App_Data/preview/
Umbraco.Site/App_Data/cache/
Umbraco.Site/App_Data/umbraco.config
Umbraco.Site/aspnet_client/
Umbraco.Site/node_modules/

Umbraco.Site/scripts/app
Umbraco.Site/scripts/app/compiled.js
Umbraco.Site/css/rustikus/rustikus.css
Umbraco.Site/css/rustikus/rustikus.css.map
Umbraco.Site/scripts/app/app.min.js
Umbraco.Site/App_Data/members_FitSuccess9.txt

Umbraco.Site/App_Data/NuGetBackup/
Umbraco.Site/node_modules/
!**/App_Data/[Pp]ackages/
!**/[Uu]mbraco/[Dd]eveloper/[Pp]ackages
