footer {
	//position: fixed;
	position: relative;
	z-index: 2;
	height: 600px;
	left: 0px; 
	bottom: 0px;
	width: 100%;
	background: $brand-gray;
	@include handheld {
		height: auto;
	}
	h3 {
		color: $white;
	}
	.border-container {
		> div > div {
			background-color: $brand-primary;
			height: 15px;
			&:nth-child(1) {
				background-color: darken($primary-dark, 15%);
			}
			&:nth-child(3) {
				background-color: $primary-light;
			}
		}
	}
	.sub-footer {
		background-color: $white;
		position: absolute;
		width: 100%;
		padding: 0px 15px;
		bottom: 0px;
	}
}