.frontpage-heading {
	text-align: center;
	//padding-top: 65px;
	padding-bottom: 15px;
}
h1 {
	@extend .frontpage-heading;
	a {
		color: $base-text;
	}
}
h1 + hr {
	width: 75px;
	height: 5px;
	background: $gray-light;
	border: none;
	margin-bottom: 30px;
	opacity: 0.5;
}