%background {
	background: rgba(black, 0.8);
}

nav {
	position: fixed;
	right: -100%;
	width: 100%;
	z-index: map-get($zindex, headerTwo);
	height: 100%;
	top: 0;
	@include transition(right 0.3s linear);
	.navigation {
		@include gradient-horizontal(rgba($brand-primary, 0.3), rgba(desaturate($brand-primary, 10%), 0.3));
		width: 100%;
		height: 100%;
		.navi {
			position: absolute;
			bottom: 0px;
			right: 0px;
			height: 45%;
			//@include calc(width, "100% - 167px");
			width: 100%;
			> ul {
				position: absolute;
				bottom: 0px;
				width: 100%;
				//@include by-count(0px);
				display: none;
				> li {
					width: 25%;
					float: left;
					padding: 30px;
					font-size: 40px;
					//position: relative;
					bottom: 0px;
					position: absolute;
					//width: 100%;
					background: rgba($gray-darker, 0);
					@include transition(background 0.3s linear);
					&:after {
						content: " ";
						height: 900%;
						width: 1px;
						background: rgba(white, .2);
						position: absolute;
						opacity: 0.4;
						@include gradient-vertical(rgba(white, -1.0), rgba(white, 1), 40%, 80%);
						right: 0px;
						bottom: 0px;
					}
					&:first-of-type {
						left: 0%;
					}
					&:nth-of-type(2) {
						left: 25%;
					}
					&:nth-of-type(3) {
						left: 50%;
					}
					&:last-of-type {
						left: 75%;
					}
					
					a {
						color: $white;
						position: relative;
						z-index: 110;
					}
					&:hover {
						background: rgba($gray-darker, 0.7);
						> ul {
							opacity: 1;
							//transform: translate(0%, -100%);
							//top: 0px;
							> li {
								$i: 1;
								@while $i < 20 {
									&:nth-child(#{$i}) {
										$transform: $i * -100%;
										//top: -$i * 70%;
										@include translate(0%, $transform);
									}
									$i: $i + 1;
								}
							}
						}
						+ .menu-bgr-image {
							display: block;
							opacity: 1;
						}
					}
					> ul {
						position: absolute;
						opacity: 0;
						bottom: 0px;
						padding-bottom: 20px;
						top: 0px;
						width: 100%;
						//@include translate(0, 0%);
						@include transition(all 0.3s linear);
						> li {
							position: absolute;
							font-size:30px;
							top: 0px;
							left: -30px;
							padding: 20px 30px;
							width: 100%;
							@include gradient-horizontal(rgba(black, 0.5), rgba(black, 0.9));

							$i: 1;
							@while $i < 20 {
								&:nth-child(#{$i}) {
									@include transition(all $i * .15s linear);
								}
								$i: $i + 1;
							}
							ul {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	@at-root body.nav-opening-1 {
		.brand-nav {
			max-width: 50%;
			max-height: 90%;
			text-align: center;
		}
	}
	@at-root body.nav-opening-2 {
		.brand-nav {
			//@include translate(50%, -50%);
			text-align: center;
			border-radius: 100%;
			max-height: 450px;
			max-width: 450px;
			right: 50%;
		}
	}
	@at-root body.nav-opening-3 {
		.brand-nav {
			max-width: 50%;
			max-height: 90%;
			border-radius: 0 100% 120% 0;
			@include calc(right, "100% - 170px");
		}
	}
	@at-root body.nav-open {
		overflow: hidden;
		nav {
			right: 0%;
		}
		.navi {
			> ul {
				display: block;
			}
		}
		.brand-nav {
			@include calc(right, "100% - 170px");
			max-width: 170px;
			max-height: 100%;
			top: 0px;
			border-radius: 0;
			@include translate(0%, 0%);
			z-index: 110;
		}
	}
	> div {
		position: relative;
		z-index: 100;
	}
	.bgr-image, .menu-bgr-image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-position: 50% 0%;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 90;
	}
	.menu-bgr-image {
		z-index: -1;
		display: inline;
		position: fixed;
		opacity: 0;
		background-position: 100% 100%, 0% 0%;
		background-size: 100% 80%, cover;
		background-repeat: repeat-x, no-repeat;
		@include transition(opacity 0.2s linear);
		@include phone-md {
			display: none !important;
		}
	}
	@include phone-md {
		.navigation {
			background: rgba(0, 0, 0, 0.7);
			.navi {
				bottom: auto;
				top: 90px;
				height: auto;
				> ul {
					position: relative;
					bottom: auto;
					> li {
						width: 100%;
						position: relative;
						padding: 20px 30px 0;
						font-size: 25px;
						left: 0px !important;
						> ul {
							opacity: 1;
							position: relative;
							> li {
								position: relative;
								left: 20px;
								font-size: 20px;
								background: none;
								-webkit-transform: translate(0%, 0%) !important;
									-ms-transform: translate(0%, 0%) !important;
									 -o-transform: translate(0%, 0%) !important;
										transform: translate(0%, 0%) !important;
							}
						}
						&:hover {
							background: none;
						}
					}
				}
			}
		}
	}
}
