.pagination {
	padding: 50px 0;
	margin-bottom: 50px;
	> * {
		font-size: 25px;
		width: 50px;
		height: 50px;
		color: $brand-primary;
		display: block;
		float: left;
		text-align: center;
		padding-top: 6px;
		border-bottom: solid 3px $gray-lighter;
		margin-right: $grid-gutter-width;
		position: relative;
		@include transition(border-color 0.3s ease-in-out);
		&:hover {
			border-color: $gray-light;
		}
	}
	span {
		&:not(.arrow) {
			border-color: $brand-primary;
			&:after {
				content: "";
				display: inline-block;
				position: absolute;
				bottom: -13px;
				left: 50%;
				@include translate(-50%, 0);
				@include triangle(bottom,lighten($brand-gray, 50%),10px);
			}
		}
	}
}