.update-in-progress {
	overflow: hidden;
	.update-message {
		position: fixed;
		width: 100%;
		height: 100%;
		background: white;
		z-index: 10000;
		text-align: center;
		display: block;
		.inner {
			position: absolute;
			top: 50%; 
			left: 50%;
			@include translate(-50%, -50%);
		}
	}
}

.update-message {
	display: none;
}