

/**umb_name:h2*/
.h2{font-size: 34px;
margin-top: 24px;
margin-bottom: 12px;
line-height: 1.3;
font-weight: normal;}

/**umb_name:h3*/
.h3{font-size: 28px;
margin-top: 24px;
margin-bottom: 12px;
line-height: 1.3;
font-weight: normal;}

/**umb_name:default*/
.default{}

/**umb_name:larger-text*/
.largerText{font-size: 21px;}

/**umb_name:grayBackground*/
.grayBackground {
	background: #f5f4fd;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	float: left;
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}
.grayBackground::before {
	height: 100%;
	width: 1000%;
	background: #f5f4fd;
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translate(-50%, 0);
	content: "";
	z-index: -1;
}

p > img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}