.article {
	overflow: hidden;
	min-height: 100%;
	.author {
		display: block;
		> strong {
			padding-top: 12px;
			padding-right: 10px;
			opacity: 1;
			float: right;
		}
	}
	.author-image {
		height: 50px;
		width: 50px;
		display: block;
		background-size: cover;
		float: right;
		border-radius: 50%;
		border: solid 1px $border-color;
		&:hover {
			+ strong {
				opacity: 1;
			}
		}
	}
	.article-image {
		width: 50%;
		position: fixed;
		height: 100%;
		z-index: 2;
		@include handheld {
			position: relative;
			width: 100%;
			height: 430px;
		}
		> span {
			width: 100%;
			background: rgba(0, 0, 0, .5);
			display: block;
			bottom: 0px;
			position: absolute;
			padding: 15px 50px;
			font-size: 30px;
			color: $white;
		}
	}
	h2 {
		padding-top: 60px;
		text-align: left;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 30px;
		font-size: $font-size-h1;
		&:after {
			@include calc(width, "100% + 200px");
			bottom: 0px;
			height: 3px;
			background: $brand-gray;
			opacity: 0.5;
			content: "";
			position: absolute;
			left: -200px;
		}
	}
	.facebook-event {
		padding-top: 10px;
		i {
			box-shadow: 0px 0px 0px 1px $facebook;
			border-radius: 3px;
			padding: 3px 2px 0px;
			margin-right: 10px;
			vertical-align: middle;
		}
	}
}

.prev-next-news {
	float: left; 
	width: 100%;
	padding-bottom: 40px;
	> a {
		float: left;
		width: 50%;
		> em {
			font-style: normal;
			line-height: 54px;
		}
		> span {
			@include transition(all 0.3s ease-out);
			display: block;
			width: 60px;
			height: 60px;
			border: solid 3px #ccc;
			background-size: cover;
			border-radius: 2px;
			float: left;
			margin-right: 10px;
		}
		&.next-link {
			float: right;
			text-align: right;
			> span {
				margin-left: 10px;
				margin-right: 0;
				float: right;
			}
		}
		&:hover {
			> span {
				border-color: #808080;
			}
		}
	}
}