.fp-newest-articles {
	@extend .article-item;
	.article-item {
		.art-image {
			@include aspect-ratio(290, 220);
		}
	}
}

.sub-articles {
	.article-item {
		> div {
			padding: 0;
			position: relative;
			.text-column {
				position: absolute;
				left: 100px;
				right: auto;
				top: 35px;
				width: 56%;
			}
			@include tablet {
				.text-column {
					width: 70%;
					left: 15%;
					p {
						display: none;
					}
				}
			}
			@include phone-md {
				.text-column {
					position: relative;
					padding: 60px 0 80px;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					float: none;
					width: 70%;
				}
			}
		}

		&:first-of-type {
			border-top: solid 1px $border-color;
		}
	}
}



.article-item {
	.art-image {
		@include aspect-ratio(290, 160);
	}
	.event-info {
		padding-bottom: 15px;
		border-bottom: solid 2px $border-color;
		h3 {
			width: 100%;
			height: 75px;
			overflow: hidden;
		}
		.text {
			height: 110px;
			overflow: hidden;
		}
		.type {
			padding-right: 10px;
			padding-top: 1px;
			position: relative;
			&:hover {
				&:after {
					opacity: 1;
					z-index: map-get($zindex, default);
				}
			}
			&:after {
				opacity: 0;
				z-index: map-get($zindex, behind);
				position: absolute;
				content: attr(data-type);
				top: -33px;
				background: darken($white, 1%);
				border-radius: $border-radius;
				border: solid 1px $primary-light;
				padding: 2px 14px;
				left: 50%;
				@include transition(all 0.3s ease-in-out);
				@include translate(-30%, 0%);
			}
		}
	}
}