// Players 
.players {
	> li {
		overflow: hidden;
		> a {
			border: solid 1px $border-color;
			height: 380px;
			width: 100%;
			display: block;
			position: relative;
			overflow: hidden;
			border-radius: 2px;
			@include transition(all 0.3s ease-in-out);
			.image {
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 280px;
				background-size: cover;
				background-position: 50% 0%;
				-webkit-filter: saturate(.8);
				filter: saturate(.8);
				@include transition(all 0.3s ease-in-out);
			}
			&:hover {
				.player-name {
					background-color: white;
					top: 130px;
					padding-top: 10px;
					.name {
						color: $brand-primary;
					}
					.nickname {
						opacity: 1;
						display: block;
						color: $gray-light;
					}
				}
				.player-info {
					height: 222px;
					color: $font-color;
					> span {
						opacity: 1;
						bottom: 20px;
					}
				}
				.image {
					-webkit-filter: saturate(1);
					filter: saturate(1);
				}

			}
		}
		.player-name {
			position: absolute;
			float: left;
			top: 299px;
			z-index: 3;
			border: solid 1px $border-color;
			left: 50%;
			@include transition(all 0.5s ease-in-out);
			@include translate(-50%, 0);
			text-align: center;
			padding: 16px 10px;
			width: 70%;
			font-size: 14px;
			min-height: 60px;
			background-color: $brand-primary;
			.name {
				color: white;
				float: left;
				width: 100%;
			}
			.nickname {
				float: left;
				display: none;
				opacity: 0;
				width: 100%;
				text-align: center;
				@include transition(opacity 0.5s ease-out);
				@include transition-delay(0.3s);
			}
			* {
				text-align: center
			}
		}
		.player-info {
			background: white;
			position: absolute;
			z-index: map-get($zindex, default);
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 98px;
			margin: 0;
			background: white;
			color: white;
			@include transition(all 0.7s ease-in-out);
			padding: 55px 20px 20px;
			font-size: 14px;
			> span {
				background: $brand-primary;
				color: white;
				padding: 10px 16px;
				left: 50%;
				@include translate(-50%, 0);
				@include transition(all 0.45s ease-in-out);
				@include transition-delay(0.5s);
				position: absolute;
				opacity: 0;
				bottom: -20px;
				width: 40%;
				text-align: center;
			}
		}
	}
}