blockquote {
	color: $brand-primary;
	border-left: solid 3px $brand-primary;
	width: 40%;
	margin-left: 40px;
	padding-left: 40px;
	float: right;
}
blockquote + p {
	float: right;
	@include calc(width, "60% - 40px");
}