/*custom styles*/

.frontpage-slides {
	.item {
		width: 100%;
		min-height: 800px;
		position: relative;
		@include calc(padding-top, "25 - 800px");
		.sliderImage {
			min-height: 520px;
			max-height: 900px;
			width: 100%;
		}
		h1 {
			color: $white;
			//text-align: center;
			font-size: 60px;
			margin: 0 auto;
			max-width: 90%;
			&:nth-child(2) {
				font-size: 50px;
			}
		}
		img {
			width: 100%;
			opacity: 0 !important;
		}
		@include phone-md {
			margin-bottom: 240px;
			background-color: $gray-lighter;
		}
		.caption-plate {
			width: 100%;
			bottom: 200px;
			position: absolute;
		}
	}

	// ANimated headline
	.cd-headline {
		&.rotate-1 {
			.cd-words-wrapper {
				display: inline-block;
				perspective: 300px;
			}

			b {
				opacity: 0;
				transform-origin: 50% 100%;
				transform: rotateX(180deg);
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				&.is-visible {
					position: relative;
					opacity: 1;
					transform: rotateX(0deg);
					animation: cd-rotate-1-in 1.2s;

				}
				&.is-hidden {
					transform: rotateX(180deg);
					animation: cd-rotate-1-out 1.2s;
				}
			}
		}
	}

	.carousel-indicators {
		width: 12px;
		left: auto;
		top: 50%;
		@include translate(0, -50%);
		right: 2%;
		bottom: auto;
		li:hover {
			border-color: $brand-primary;
		}
	}
	.carousel-control {
		&.right, &.left {
			width: 5%;
		}
	}
	@include handheld {
		.slide-plate {
			top: 100%;
		}
	}
	@include tablet {
		.carousel-control {
			display: none;
		}
		.carousel-caption {
			top: 70%;
			position: relative;
			left: 0px;
			h1 {
				font-size: 50px;
				overflow: hidden;
			}
		}
		.slide-plate {
			//top: 100%;
			position: relative;
			.slide-headline {
				font-size: 1.5em;
			}
		}
	}
	@include phone-md {
		.carousel-control {
			display: none;
		}
		.carousel-caption {
			width: 90%;
			top: auto;
			h1 {
				font-size: 50px;
			}
		}
		.slide-plate {
			position: relative;
			right: auto;
			width: 100%;
			padding-left: 5%;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			//bottom: auto;
			.slide-headline {
				font-size: 1.5em;
			}
		}
		.carousel-control {
			&.right, &.left, &.right:hover, &.left:hover {
				opacity: 0;
			}
		}
	}
	@include phone-sm {
		.carousel-caption {
			h1 {
				font-size: 20px;
			}
			.slide-plate {
				font-size: 14px;
			}
		}
	}
}

.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	margin-left: -30%;
	padding-left: 0;
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 1px;
		text-indent: -999px;
		border: 1px solid #ffffff;
		border-radius: 10px;
		cursor: pointer;
		background-color: #000 \9;
		background-color: rgba(0, 0, 0, 0);
	}
	.active {
		margin: 0;
		width: 12px;
		height: 12px;
		background-color: #ffffff;
	}
}



@media screen and (min-width: 768px) {
	.carousel-control {
		.glyphicon-chevron-left, .glyphicon-chevron-right, .icon-prev, .icon-next {
			width: 30px;
			height: 30px;
			margin-top: -10px;
			font-size: 30px;
		}
		.glyphicon-chevron-left, .icon-prev {
			margin-left: -10px;
		}
		.glyphicon-chevron-right, .icon-next {
			margin-right: -10px;
		}
	}
	.carousel-caption {
		left: 20%;
		right: 20%;
		padding-bottom: 30px;
	}
	.carousel-indicators {
		bottom: 20px;
	}
}

@keyframes cd-rotate-1-in {
	0% {
		transform: rotateX(180deg);
		opacity: 0;
	}
	35% {
		transform: rotateX(120deg);
		opacity: 0;
	}
	65% {
		opacity: 0;
	}
	100% {
		transform: rotateX(360deg);
		opacity: 1;
	}
}

@keyframes cd-rotate-1-out {
	0% {
		transform: rotateX(0deg);
		opacity: 1;
	}
	35% {
		transform: rotateX(-40deg);
		opacity: 1;
	}
	65% {
		opacity: 0;
	}
	100% {
		transform: rotateX(180deg);
		opacity: 0;
	}
}