.social {
	a {
		display: block;
		overflow: hidden;
		clear: both;
		padding-bottom: $grid-gutter-width;
	}
	.social-icon {
		width: 60px;
		height: 60px;
		border-radius: 4px;
		display: block;
		color: white;
		text-align: center;
		font-size: 35px;
		padding: 7px 0;
		float: left;
		+ span {
			color: $white;
			font-size: 22px;
			left: 10px;
			margin-top: 15px;
			display: block;
			position: relative;
		}
	}
	&.social-share {
		padding-top: 50px;
		a {
			display: inline-block;
			float: left;
			clear: none;
			margin: 10px;
		}
		.social-inner {
			width: 130px;
			margin: 0 auto;
		}
		.social-icon {
			width: 40px;
			height: 40px;
			font-size: 23px;
			padding-top: 5px;
		}
	}
	.facebook {
		.social-icon {
			background: $facebook;
		}
	}
	.instagram {
		.social-icon {
			 background:
				// left bottom
				radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
				radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
				// left top
				radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
				radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
				//  right top
				radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
				radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
				// right bottom
				radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
				/////// create a base coat to smooth
				/////// corner gradients
				linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
		}
	}
	.youtube {
		.social-icon {
			background: $youtube;
		}
	}
	.twitter {
		.social-icon {
			background: $twitter;
		}
	}
	.snapchat {
		.social-icon {
			background: $snapchat;
		}
	}

}