@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="loader">
	<div class="loader-inner">
		<div class="spinner">
			<span></span>
			<span></span>
		</div>
		<div class="loader-logo">
			@Html.Partial("_Logo")
		</div>
	</div>
</div>