@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

}

<div class="update-message">

	<div class="inner">
		<img src="/media/1003/logowhite.png" alt="logo" />
		<h3 class="no-margin">We're currently a bit shy!</h3>
		<p>Check back in a few days</p>
	</div>

</div>
