@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

}

<div class="update-message">

    <div class="inner">
        <form action="/umbraco/surface/cookie/setcookie">
            <h3 class="no-margin">Update in Progress</h3>
            <p>We are really really sorry</p>

            <a href="" id="update-in-progress-button" class="btn btn-primary text-white">Dismiss this</a>
        </form>
    </div>

</div>
