@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

<section class="@ViewData["class"]" style="background:url('@ViewData["media"]?width=1920&quality=90') 50% 0 no-repeat;">
	<div class="bgr-primary-gradient padding-top-100 padding-bottom-100 top-box-orange">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div>
						@ViewData["area"]
					</div>
				</div>
			</div>
		</div>
	</div>
</section>