@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

<section class="@ViewData["class"] large-padding"	style="background:url('@ViewData["media"]?width=1920&quality=90') 50% 0 no-repeat;">
	<div class="container">
		@ViewData["area"]
	</div>
	<div class="background-overlay"></div>
</section>