@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

<section class="@ViewData["class"] large-padding"	style="background-image: url('@ViewData["media"]?width=1920&quality=90'); background-position: 50% 0; background-repeat: no-repeat;">
		<div class="container">
			@ViewData["area"]
		</div>
</section>